* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif\;
}

body {
  display: flex ;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: url(19362653.jpg) no-repeat;
  background-size: cover;
  background-position: center;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 1.3rem 9% ;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}
.header ::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, .1);
  backdrop-filter: blur(50px);
  z-index: -10;

}
.header::after {
  content: '';
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: linear-gradient(90deg, transparent,rgb(125, 237, 125), transparent);
  transition: .5s;
}

.header:hover::after {
  left: 100%;
}

.logo {
  font-size: 2rem;
  color: #fff;
  text-decoration: none;
  font-weight: 700;

}
.navbar a {
  font-size: 1.rem;
  color: #fff;
  text-decoration: none;
  font-weight: 500;
  margin-left: 2.5rem;
}
.navbar .Aanmelden{
  width: 130px;
  height: 50px;
  background: transparent;
  border: 2px solid;
  outline: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 1.1rem;
  color: #fff;
  font-weight: 500;
  margin-left: 40px;
  transition: 2s;

}
.navbar .Aanmelden:hover {
  background: #fff;
  color: green;
}

.icons {
  position: absolute;
  right: 5%;
 font-size: 2.8rem;
 color: #fff;
 cursor: pointer;
 display: none; 
}

.aanmelden {
  position: relative;
  width: 400px;
  height: 440px;
  background: transparent;
  border: 4px solid rgba(17, 223, 10, 0.5);
  border-radius: 20px;
  backdrop-filter: blur(400px);
  box-shadow: 0 0 30px rgba(1, 249, 30, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}
.aanmelden .form-box {
  width: 100%;
  padding: 40px;
}
.form-box h2 {
  font-size: 2em;
  color: #162938;
  text-align: center;
}
.input-box {
  position: relative;
  width: 100%;
  height: 50px;
  border-bottom: 2px solid #162938;
  margin: 30px 0;
}
.input-box label {
  position: absolute;
  top: 50%;
  left: 5px;
  transform: translateY(-50%);
  font-size: 1em;
  color: #162938;
  font-weight: 500;
  pointer-events: none;

}
.input-box input:focus~label,
.input-box input:valid~label {
  top: -5px;
}
.input-box input {
  width: 100%;
  height: 100%;
  background: transparent;
  border: none;
  outline: none;
  font-size: 1em;
  color: #162938;
  font-weight: 600;
}
.input-box .icon {
  position: absolute;
  right: 8px;
  font-size: 1.2rem;
  color: #162938;
  line-height: 57px;

}
.accepteren {
  font-size: .9em;
  color: #162938;
  font-weight: 500;
  margin: -15px 0 15px;
  display: flex;
  justify-content: space-between;
}
.accepteren label input {
  accent-color: #162938;
  margin-right: 3px;
}
.btn { 
  width: 100%;
  height: 45px;
  background: #162938;
  border: none;
  outline: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 1em;
  color: #fff;
  font-weight: 500;

}

  